<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>direction</servlet-name>
        <servlet-class>servlet.direction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajouteEmp</servlet-name>
        <servlet-class>servlet.ajouteEmp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update</servlet-name>
        <servlet-class>servlet.update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>emp</servlet-name>
        <servlet-class>servlet.emp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>direction</servlet-name>
        <url-pattern>/direction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajouteEmp</servlet-name>
        <url-pattern>/ajouteEmp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>emp</servlet-name>
        <url-pattern>/emp</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
